---
import UserList from "./partials/list.astro";
import CounterComp from "./partials/counter.astro";
---

<html lang="en">
	<body class="max-w-xl text-white bg-black text-xl mt-5 mx-auto">
		<div class="flex justify-end">
			<div class="mt-5 w-12 h-12 rounded-full bg-white text-black flex items-center justify-center">
				<div id="anotherCounter">
					0
				</div>
			</div>
		</div>

		<h1 class="text-5xl mb-5">Page Example</h1>
		<div class="flex">
			<div>Page</div>
			{[1, 2, 3].map((page) => (
				<a 
					href="#" class="w-10 h-10 flex items-center justify-center border border-white mx-2"
					hx-get={`/partials/list?page=${page}`}
					hx-target="#contents"
				>{page}</a>
			))}
		</div>
		<div id="contents" class="mt-3 p-3 border-2 rounded-xl">
			<UserList />
		</div>

		<hr class="my-5" />
		<h1 class="text-5xl mb-5">Search Example</h1>
		<input
			class="w-full p-3 border-2 rounded-xl text-black"
			type="text"
			name="search"
			placeholder="Search"
			hx-trigger="keyup changed delay:500ms"
			hx-get="/partials/search"
			hx-target="#search-results"
		/>
		<div id="search-results" class="mt-3 p-3 border-2 rounded-xl">
		</div>

		<hr class="my-5" />
		<h1 class="text-5xl mb-5">Counter Example</h1>
		<CounterComp />
	</body>
</html>
