---
const movieId = Astro.props.movieId;

const favoriteCookie = Astro.cookies.get("favorites");
const favorites = (favoriteCookie?.json() as number[]) || [];
const isFavorite = favorites.includes(movieId);
---
<form
  hx-post="/partials/favorite"
  hx-swap="outerHTML"
>
  <input type="hidden" name="movieId" value={movieId} />
  <button class={`flex ${isFavorite ? "bg-indigo-700 text-white" : "border-2 border-indigo-700 text-indigo-200"} items-center px-5 py-2 rounded-full text-sm`}>
    {isFavorite ? "Remove From Favorites" : "Add To Favorites"}
  </button>
</form>
